.bg {
  background-color: rgb(73, 141, 197);
}

.categories {
  background-color: #fff;
}

.content {
  background-color: #fff;
}

.product-list-item-name {
  margin-bottom: 0px;
  font-size: 0.75rem;
}
.product-list-item-price {
  margin-bottom: 0px;
  font-weight: bold;
  color: blue;
}
