.bg {
  background-color: rgb(73, 141, 197);
}

.categories {
  background-color: #fff;
}

.content {
  background-color: #eeeeee;
}

.product-list-item-name {
  margin-bottom: 0px;
  font-size: 0.75rem;
}
.product-list-item-price {
  margin-bottom: 0px;
  font-weight: bold;
  color: blue;
}

div .footer ul li {
  list-style: none;
  font-size: 0.85rem;
  line-height: 2;
}
.footer {
  font-size: 0.85rem;
}
